/* ## Theme
----------------------------------------------------------------------------- */
.page-header {
    @include pixel-rem(18,28);
    background: map-get($colors, 10);
    padding: 102px 0 97px;
    letter-spacing: 0.1px;
    text-align: center;
    .widgettitle {
        @include pixel-rem(38,84);
        letter-spacing: 0.4px;
        // margin-bottom: 32px;
    }
    .widget {
        @include grid-media($xl) {
            @include column(6/12);
            @include move(3/12);
        }
    }
    p {
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

/* ## Portfolio Area
----------------------------------------------------------------------------- */
.portfolio-area {
    @include clearfix;
    .portfolio {
        padding: 0;
        margin: 0;
        position: relative;
        float: left;
        overflow: hidden;
        width: 100%;
        background: $heading-color;
        img, &:before, &:after {
            box-sizing: border-box;
            transition: all 0.4s ease;
        }
        img {
            max-width: 100%;
            backface-visibility: hidden;
            vertical-align: top;
        }
        &:before, &:after {
            content: '';
            background-color: #fff;
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            opacity: 0;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        &:before {
            width: 60px;
            height: 2px;
            left: 0;
        }
        &:after {
            height: 60px;
            width: 2px;
            top: 100%;
        }
        a {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
        }
        &:hover {
            img {
                zoom: 1;
                filter: alpha(opacity=50);
                -webkit-opacity: 0.5;
                opacity: 0.5;
            }
            &:before, &:after {
                opacity: 1;
                top: 50%;
                left: 50%;
            }
        }
        @include grid-media($md) {
            @include span(1/4, $cycle: 4);
        }
    }
}